@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

:root {
  --primary-light: #b77c69;
  --primary-dark: ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  font-weight: 400px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

#eb-header {
  width: 100vw;
  height: 90vh;
  min-height: 100vh;
  background-image: url(../img/header.jpg);
  background-position: center 40px;
  background-repeat: no-repeat;
  background-size: cover;
}
.eb-container-home {
  max-width: 1200px;
  margin: auto;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  font-size: 20px;
  padding: 16px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

nav .eb-logo {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}
.eb-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-top: 200px;
}

.eb-header-content h1 {
  font-size: 80px;
  font-weight: 500;
}

.eb-header-content p {
  font-size: 20px;
  color: var(--primary-light);
}

.eb-navlinks a {
  text-decoration: none;
  color: black;
}

#eb-services {
  background: #777;
  margin-top: 120px;
  display: flex;
  gap: 16px;
}
.service {
  width: 200px;
}

.service img {
  max-width: 100%;
}

#about {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 100px 200px;
}
.eb-content-about {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 100px 200px;
}

.eb-content-about p {
  font-size: 30px;
  padding: 20px;
}
.eb-image img {
  width: 450px;
  height: auto;
  border-radius: 10px;
}

.ed-details p {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.eb-content-services {
  padding: 50px;
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: #b77c69;
}

.eb-content-services h6 {
  color: rgb(161, 159, 159);
}

.eb-content-services p {
  color: #555;
  font-size: 30px;
}

.eb-services1 {
  padding: 25px;
  margin-top: 40px;
  display: flex;
  gap: 60px;
  text-align: left;
}

.eb-services1 img {
  width: 600px;
  height: auto;
  border-radius: 10px;
}

.eb-services1 h3 {
  padding: 30px;
}

.eb-services2 {
  margin-top: 40px;
  display: flex;
  gap: 60px;
  flex-direction: row-reverse;
  text-align: left;
}

.eb-services2 img {
  width: 600px;
  height: auto;
  border-radius: 10px;
}

.eb-services2 h3 {
  padding: 30px;
  text-align: right;
}

.eb-services3 {
  margin-top: 40px;
  display: flex;
  gap: 60px;
  text-align: left;
}

.eb-services3 img {
  width: 600px;
  height: auto;
  border-radius: 10px;
}

.eb-services3 h3 {
  padding: 30px;
}

.eb-content-pricelist {
  padding: 120px;
  max-width: 1000px;
  margin: auto;
}

.eb-content-pricelist h2 {
  text-align: center;
  font-size: 48px;
  color: #b77c69;
  margin-bottom: 80px;
}

.eb-price-section {
  margin-bottom: 70px;
}
.eb-price-section h3 {
  font-size: 30px;
  margin-bottom: 30px;

  color: #b77c69;
  font-weight: bold;
}
.eb-price-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.eb-price-item h4 {
  font-size: 18px;
  margin-bottom: 5px;
}
.eb-price-item p {
  font-size: 14px;
  color: #777;
}

.eb-content-gallery {
  padding: 40px;
  text-align: center;
}

.eb-content-gallery h6 {
  color: #777;
  font-size: 16px;
  letter-spacing: 2px;
}

.eb-content-gallery h1 {
  font-size: 48px;
  margin: 10px 0 20px;
  color: #b77c69;
}
.eb-content-gallery p {
  font-size: 18px;
}
.eb-gallery-img {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.eb-gallery-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}
.eb-content-contact p {
  padding: 40px;
  text-align: center;
  color: #777;
  font-size: 16px;
}

.eb-content-contact h1 {
  color: #b77c69;
  text-align: center;
  font-size: 60px;
}

.eb-content {
  display: flex;
  justify-content: center;
}
