* {
  padding: 0;
  margin: 0;
}

.eb-navlinks a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.eb-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  z-index: 1000;
}
.eb-logo {
  font-family: "Great Vibes" cursive;
  font-size: 36px;
}
.eb-navlinks {
  display: flex;
  align-items: center;
}

.eb-navlinks li {
  margin: 0 40px;
}

header {
  width: 100%;
  height: 90vh;
  background-image: url(../img/header.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-start;
}

.eb-header {
  padding-left: 80px;
  margin: 140px;
  padding-top: 100px;
}

.eb-header h2 {
  font-size: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.eb-header p {
  font-size: 20px;
  color: rgb(192, 147, 95);
}

.eb-content-about {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 100px 120px;
}

.eb-image img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.eb-details h2 {
  color: #b77c69;
  font-size: 36px;
  margin-bottom: 10px;
  position: relative;
}

.eb-details h2::after {
  display: block;
  width: 60px;
  height: 3px;
  background-color: #b77c69;
  margin-top: 5px;
  margin-bottom: 20px;
}

.ed-details p {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 15px;
}
