:root {
  --primary-light: #b77c69;
  --primary-dark: ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

nav a {
  text-decoration: none;
  color: inherit;
}

#eb-header {
  width: 100vw;
  height: 90vh;
  min-height: 100vh;
  background-image: url(../img/header.jpg);
  background-position: center 40px;
  background-repeat: no-repeat;
  background-size: cover;
}
.eb-container-home {
  max-width: 1200px;
  margin: auto;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  font-size: 20px;
  padding: 16px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

nav .eb-logo {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}
.eb-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-top: 200px;
}

.eb-header-content h1 {
  font-size: 80px;
  font-weight: 500;
}

.eb-header-content p {
  font-size: 20px;
  color: var(--primary-light);
}

.eb-nav-links a {
  text-decoration: none;
  color: black;
}
#about {
  margin: 100px;
  color: #888787;
}

#about img {
  height: 400px;
  margin-left: 30%;
}
#eb-services {
  background: #fdfdfd;
  text-align: center;
  padding: 20px;
  color: #888787;
}
.row h3 {
  color: #b77c69;
  font-size: 60px;
}
.row a {
  color: #b77c69;
  font-size: 20px;
}

.container-home h1 {
  color: #b77c69;
  font-size: 60px;
}
.row img {
  margin: 0px;
  width: 500px;
  border-radius: 10px;
}
footer {
  text-align: center;
  padding: 10px;
  color: #797878;
  font-size: 20px;
}
h2 {
  text-align: center;
  color: #b77c69;
  margin: 30px;
  font-size: 60px;
}
.eb-content-about {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 100px 200px;
}

.eb-content-about p {
  font-size: 30px;
  padding: 20px;
}
.eb-image img {
  width: 450px;
  height: auto;
  border-radius: 10px;
}

.eb-details p {
  color: #807f7f;
  margin-bottom: 15px;
}

.eb-content-services {
  padding: 50px;
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: #b77c69;
}

.eb-content-services h6 {
  color: rgb(161, 159, 159);
}

.eb-content-services p {
  color: #555;
  font-size: 30px;
}

.eb-services1 {
  padding: 25px;
  margin-top: 40px;
  display: flex;
  gap: 60px;
  text-align: left;
}

.eb-services1 img {
  width: 600px;
  height: auto;
  border-radius: 10px;
}

.eb-services1 h3 {
  padding: 30px;
}

.eb-services2 {
  margin-top: 40px;
  display: flex;
  gap: 60px;
  flex-direction: row-reverse;
  text-align: left;
}

.eb-services2 img {
  width: 600px;
  height: auto;
  border-radius: 10px;
}

.eb-services2 h3 {
  padding: 30px;
  text-align: right;
}

.eb-services3 {
  margin-top: 40px;
  display: flex;
  gap: 60px;
  text-align: left;
}

.eb-services3 img {
  width: 600px;
  height: auto;
  border-radius: 10px;
}

.eb-services3 h3 {
  padding: 30px;
}

.eb-content-pricelist {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

.eb-content-pricelist h2 {
  text-align: center;
  font-size: 48px;
  color: #b77c69;
  margin-bottom: 80px;
}

.eb-price-section {
  margin-bottom: 70px;
}
.eb-price-section h3 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  color: #b77c69;
}
.eb-price-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.eb-price-section h4 {
  font-size: 25px;
  margin-bottom: 5px;
  color: #807b7b;
}
.eb-price-item p {
  font-size: 14px;
  color: #777;
}

.eb-content-gallery {
  padding: 40px;
  text-align: center;
}

.eb-content-gallery h6 {
  color: #777;
  font-size: 16px;
  letter-spacing: 2px;
}

.eb-content-gallery h1 {
  font-size: 48px;
  margin: 10px 0 20px;
  color: #b77c69;
}
.eb-content-gallery p {
  font-size: 18px;
}
.eb-gallery-img {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.eb-gallery-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.eb-content-contact {
  max-width: 1200px;
  margin: auto;
}
.eb-content-contact p {
  padding: 0;
  margin-top: 60px;
  text-align: center;
  color: #777;
}

.eb-content-contact h1 {
  color: #b77c69;
  text-align: center;
  font-size: 60px;
  margin: 10px 0 70px;
}

.eb-content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.eb-contact-info {
  flex: 1;
}

.eb-contact-info p {
  padding: 0;
  margin: 0 0 10px;
  color: #777;
  line-height: 2;
}

.eb-contact-info h3 {
  color: #b77c69;
  font-size: 30px;
}
form {
  flex: 1;
}
form label {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  color: #555;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #777;
  font-size: 14px;
}
form button {
  background-color: #b77c69;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 40px;
}

form button:hover {
  background-color: #b0887b;
}

.eb-content-team {
  text-align: center;
  padding: 50px 20px;
  color: #2c3e50;
}

.eb-content-team h2 {
  font-size: 60px;
  margin-bottom: 10px;
}

.eb-content-team p {
  font-size: 20px;
  margin-bottom: 40px;
  color: #555;
}

.eb-team-contanier {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.team-card {
  background: #ffffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 380px;
  padding: 10px;
}

.team-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}
.team-card h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.team-card p {
  font-size: 15px;
  color: #555;
}

.eb-content-place {
  height: 80vh;
  background: url("../img/place.jpg") center/cover no-repeat;
  position: relative;
}

.eb-place {
  background: rgba(0, 0, 0, 0.45);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.eb-place h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.eb-place p {
  font-size: 22px;
}
.eb-content {
  padding: 60px 15%;
  text-align: center;
}

.eb-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.eb-content p {
  font-size: 18px;
  line-height: 1.7;
  color: #555;
}

.cards {
  display: flex;
  gap: 30px;
  padding: 60px 10%;
}

.card {
  flex: 1;
  background: #f9f9f9;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card h3 {
  padding: 20px;
  color: #555;
  font-size: 22px;
}
.eb {
  background: white;
  color: #555;
  padding: 60px;
  text-align: center;
}

.eb h2 {
  font-size: 40px;
  margin-bottom: 15px;
}
.eb p {
  margin-bottom: 25px;
}

.eb a {
  text-decoration: none;
  background: #b0887b;
  color: white;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: bold;
}
